<!DOCTYPE html>
<section>
	<div class="chart-container">
		<div class="header-chart">
			<div class="header-stats">
				<div class="stats-block">
					<div class="subtitle text-center">
						{{consumedTitle}}
					</div>
					<span class="value">{{consumendValue}}</span>
					<span class="unit">{{consumendUnit}}</span>
				</div>

				<div class="stats-block">
					<div class="subtitle text-center">
						{{spentTitle}}
					</div>
					<span class="value">{{spentValue}}</span>
					<span class="unit">{{spentUnit}}</span>
				</div>

				<div class="dropdown">dropdown</div>

			</div>

		</div>
		<electricity-chart></electricity-chart>
	</div>
</section>
