.chart-container{
	font-family: "Exo", sans-serif;
	background-image: radial-gradient(circle at 50% 50%, #423f8c, #302c6e);
}
#chart-electr{
	position: absolute;
	background-color: transparent;
	height: 494px;
	width: 580px;
}
.subtitle{
	font-family: "Roboto", sans-serif;
	color: #a1a1e5;
	font-weight: 300;
	line-height: 20px;
}

.tooltip{
	background-color: rgba(0, 255, 170, 0.35);
	box-shadow: rgba(0, 255, 170, 0.35) 0px 2px 46px 0px;
	border-style: solid;
	position: absolute;
}
/*
display: none;  white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1), top 0.4s cubic-bezier(0.23, 1, 0.32, 1);  border-width: 3px; border-color: rgb(0, 217, 119); color: rgb(255, 255, 255); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 20px; font-family: "Microsoft YaHei"; line-height: 30px; left: 67px;
top: 100px;
border-radius: 10px; padding: 8px 24px;
 */

.header-stats{
	display: flex;
	align-items: center;
}
.header-chart{
	justify-content: space-between;
	padding: 16px 28px 16px 16px;
}
.stats-block{
	flex-direction: column;
	padding: 0 20px;
}
.value{
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}
.unit{
	font-size: 20px;
	font-weight: 300;
	color: #a1a1e5;
}
