.chart-container{
	font-family: "Exo", sans-serif;
	background-image: radial-gradient(circle at 50% 50%, #423f8c, #302c6e);
}
.subtitle{
	font-family: "Roboto", sans-serif;
	color: #a1a1e5;
	font-weight: 300;
	line-height: 20px;
}
.header-stats{
	display: flex;
	align-items: center;
}
.header-chart{
	justify-content: space-between;
	padding: 16px 28px 16px 16px;
}
.stats-block{
	flex-direction: column;
	padding: 0 20px;
}
.value{
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}
.unit{
	font-size: 20px;
	font-weight: 300;
	color: #a1a1e5;
}
