<filter></filter>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let friend of list">
      <div class="card">
        <div class="card-block">
          <img [src]="friend.photo_100" alt="">
          <div class="user-info">
            <div class="card-title">{{friend.first_name +" "+ friend.last_name}}<div class="status" [ngStyle]="{'background-image': getColorStatus(friend.online)}"></div></div>
            <div class="card-subtitle">ID:{{friend.id}}</div>
            <div class="link"><a target="_blank" href="https://vk.com/id{{friend.id}}">Link</a></div>

          </div>

          <div class="tools">
            <a (click)="saveInLocalStorage(friend.first_name,friend.last_name,friend.photo_100,friend.id, friend.online)"><i class="nb-star"></i></a>
            <a (click)="saveInLocalStorage()"><i class="nb-email"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h3>{{messageNotFound}}</h3>
    </div>
  </div>
</div>
