<!DOCTYPE html>
<div class="col-md-2">
	<div id="sticky-sidebar">
		<div class="text-center">
			<a href="http://github.com" class="btn success">
				<i class="{{headerBtn.icon}}"></i><span>{{headerBtn.title}}</span>
			</a>
		</div>

		<div class="text-left">
			<ul class="menu-items">
				<li class="title menu-item"><a href="#/pages/dashboard"><i class="nb-home"></i><span>Dashboard</span></a></li>
				<li class="subtitle">Features</li>
				<li class="menu-item"><a href="#/pages/ui-features"><i class="nb-keypad"></i><span>UI Features</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/forms"><i class="nb-compose"></i><span>Forms</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/components"><i class="nb-gear"></i><span>Components</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/maps"><i class="nb-location"></i><span>Maps</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/charts"><i class="nb-bar-chart"></i><span>Charts</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/editors"><i class="nb-title"></i><span>Editors</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/tables"><i class="nb-tables"></i><span>Tables</span><i class="icon chevron ion-chevron-left"></i></a></li>
				<li class="menu-item"><a href="#/pages/auth"><i class="nb-locked"></i><span>Auth</span><i class="icon chevron ion-chevron-left"></i></a></li>
			</ul>
		</div>
	</div>
</div>
