.primary{
  background-image: linear-gradient(90deg,#ad59ff,#7659ff);
  box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff, 0 4px 10px 0 rgba(33,7,77,.5);
}
.success{
	background-image: linear-gradient(90deg, #00d9bf, #00d977);
	box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b, 0 4px 10px 0 rgba(33,7,77,.5);
}
.warning{
	background-image: linear-gradient(90deg,#fc0,#ffa100);
	box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600, 0 4px 10px 0 rgba(33,7,77,.5);
}
.info {
	background-image: linear-gradient(90deg,#00b3ff,#08f);
	box-shadow: 0 3px 0 0 #0087db, 0 2px 8px 0 #009dff, 0 4px 10px 0 rgba(33,7,77,.5);
}
.box{
	height: 6rem;
	align-items: center;
	background-color: #3D3780;
	border-radius: .5rem;
	margin-bottom: 25px;
	box-shadow: 0 3px 0 0 #342F6E, 0 4px 10px 0 rgba(33,7,77, .5);
	width: 480px;
}
.box:hover{
	background-color: #463f92;
}
.box:hover .primary{
	background-image: linear-gradient(90deg,#b970ff,#8970ff);
}
.box:hover .success{
	background-image: linear-gradient(90deg,#24dec8,#24de8a);
}
.box:hover .warning{
	background-image: linear-gradient(90deg,#ffd324,#ffae24);
}
.box:hover .info{
	background-image: linear-gradient(90deg,#24bdff,#2499ff);
}
i{
	color: #fff;
	font-size: 4.5rem;
}
.details{
	padding: 0 .5rem 0 1.5rem;
	justify-content: center;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}
.title{
	font-family: "Exo", sans-serif;
	color: #F6F5F9;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
}
.status{
	font-family: "Roboto";
	font-weight: 300;
	font-style: normal;
	color: #a1a1e5;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 20px;
}
.icon-container{
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	/*border-right: 1px solid #342e73;*/
	height: 100%;
	width: 112px;
	height: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  margin-left: 15px;
}
.row{
	margin-top: 0px;
}
