<!DOCTYPE html>
<div class="row">
	<div class="col-md-6">
		<div class="box" (click)="switch('cardLight')">
			<div class="row">
				<div class="icon-container primary">
					<i class="{{cardLight.icon}}"></i>

				</div>
				<div class="details">
				  <div class="title">{{cardLight.title}}</div>
					<div class="status">{{cardLight.status}}</div>
          <a href=""></a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box" (click)="switch('cardRoller')">
			<div class="row">
				<div class="icon-container success">
					<i class="{{cardRoller.icon}}"></i>
				</div>
				<div class="details">
				  <div class="title">{{cardRoller.title}}</div>
				  <div class="status">{{cardRoller.status}}</div>
				</div>
			</div>
		</div>
	</div>



	<div class="col-md-6">
		<div class="box" (click)="switch('cardAudio')">
			<div class="row">
				<div class="icon-container info">
					<i class="{{cardAudio.icon}}"></i>
				</div>
				<div class="details">
				  <div class="title">{{cardAudio.title}}</div>
				  <div class="status">{{cardAudio.status}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box" (click)="switch('cardCoffee')">
			<div class="row">
				<div class="icon-container warning">
					<i class="{{cardCoffee.icon}}"></i>
				</div>
				<div class="details">
				  <div class="title">{{cardCoffee.title}}</div>
				  <div class="status">{{cardCoffee.status}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
