@import "../vk-board.component.css";
.board{
  height: 500px;
  background-color: #3D3780;
  border-radius: 15px;
}
a{
  color: #fff;
  font-family: "Exo", sans-serif;
}
a:hover{
  cursor: pointer;
}
a .nb-trash{
  color: #fff;
}
.nb-trash:hover{
  color: #ff386a !important;
}
.nb-arrow-dropleft{
  font-size: 15px;
}
