<!DOCTYPE html>

<card></card>
<div class="col-md-4">
  <div class="text-center">
    <a href="/#/vk-board" class="btn success" style="color: #fff; font-family: 'Exo'; font-weight: 700;">
      Test project for EPAM Systems
    </a>
  </div>
</div>


	<!-- <div class="col-md-5">
		<temperature></temperature>
	</div>
	<div class="col-md-7">
		<electricity></electricity>
	</div> -->



	<!-- <rooms></rooms>
	<player></player>
	<contact-list></contact-list>
	<solar-panel></solar-panel>
	<news-slider></news-slider>
	<traffic></traffic>
	<gallery></gallery>
	<footer></footer> -->
